body {
    background-color: gray;
}

.calc-body {
    width: 275px;
    margin: auto;
    min-height: 400px;
    box-shadow: 0 8px 50px -5px black;
    background: #3A4655;
    border-radius: 10px;
}

.calc-screen {
    padding: 20px;
}

#calc-operation {
    font-size: 20px;
    text-align: right;
    color: #727B86;
}

#calc-typed {
    font-size: 40px;
    text-align: right;
    color: #fff;
}

.calc-button-row {
    display: table;
}

.calc-button-row button {
    width: 25%;
    background: #425062;
    color: #fff;
    height: 65px;
    font-size: 20px;
    border-color: #3C4857;
    border-style: solid;
    border-radius: 5px;
}

.calc-button-row button.ac {
    color: #ffffff;
    background-color: rgb(112, 112, 250);
}

.calc-button-row button.opt {
    color: #000000;
    background-color: orange;
}


.calc-button-row button:hover {
    background: rgb(162, 156, 156);
}